<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Database</title>
    <style>
        .concept {
            margin-bottom: 20px;
        }
        .concept h2 {
            color: blue;
        }
        .concept p {
            margin-bottom: 10px;
        }
        .example {
            font-style: italic;
            color: green;
        }
    </style>
</head>
<body>
    <h1>Содержимое базы данных</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>ID ВКонтакте</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Лайки на стене</th>
            <th>Комментарии на стене</th>
            <th>Репосты на стене</th>
            <th>Диаметр социального графа</th>
            <th>Радиус социального графа</th>
            <th>Связный граф</th>
            <th>Page Rank</th>
            <th>Центральность по посредничеству</th>
            <th>Центральность по степени</th>
            <th>Транзитивность</th>
            <th>Ассортативность</th>
            <th>Коэффициент кластеризации</th>
        </tr>
        {% for user in users_data %}
            <tr>
                 <!-- Добавляем кнопку "Создать JSON" с ссылкой на функцию в Flask -->
                <td><a href="{{ url_for('create_and_redirect', user_id=user[1]) }}">Create JSON</a></td>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
                <td>{{ user[4] }}</td>
                <td>{{ user[5] }}</td>
                <td>{{ user[6] }}</td>
                <td>{{ user[7] }}</td>
                <td>{{ user[8] }}</td>
                <td>{{ 'Да' if user[9] else 'Нет' }}</td>
                <td>{{ user[10] }}</td>
                <td>{{ user[11] }}</td>
                <td>{{ user[12] }}</td>
                <td>{{ user[13] }}</td>
                <td>{{ user[14] }}</td>
                <td>{{ user[15] }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="concept">
        <h2>Транзитивность связей</h2>
        <p>Это свойство, которое указывает на увеличение вероятности появления связей между акторами, у которых есть связи с одними и теми же вершинами</p>
        <p>Пример: <span class="example">если пользователь А подписан на пользователя В, и пользователь В подписан на пользователя С, то вероятность того, что пользователь А также подпишется на пользователя С, возрастает</span></p>
    </div>
    <div class="concept">
        <h2>Ассортативность</h2>
        <p>Свойство, которое указывает на склонность к образованию связей между вершинами большой степени</p>
        <p>Пример: <span class="example">пользователь с высокой центральной позицией может иметь большое количество подписчиков, получать много лайков и комментариев, а также иметь большое количество связей с другими пользователями</span></p>
    </div>
    <div class="concept">
        <h2>Диаметр сети </h2>
        <p>Метрика, которая указывает на максимальное количество шагов, необходимых для того, чтобы соединить две самые удаленные вершины в сети</p>
        <p>Пример: <span class="example">если диаметр сети небольшой, то информация может быстро распространяться между пользователями, в то время как если диаметр сети большой, то информация может распространяться медленнее</span></p>
    </div>
    <div class="concept">
        <h2>Центральность по посредничеству</h2>
        <p>Показатель того, насколько узел важен в сети, основываясь на том, сколько кратчайших путей между всеми парами узлов проходит через него</p>
        <p>Пример: <span class="example">если пользователь имеет высокое значение центральности по посредничеству, это может означать, что через его профиль проходит много кратчайших путей между другими пользователями</span></p>
    </div>
    <div class="concept">
            <h2>Центральность по степени</h2>
            <p>Простейшая мера центральности узла, которая отражает, сколько связей имеет данный узел с другими узлами в сети</p>
            <p>Пример: <span class="example">если пользователь имеет высокую центральность по степени, это может означать, что у него много друзей в сети</span></p>
        </div>
    <div class="concept">
            <h2>Коэффициент кластеризации</h2>
            <p>Мера, которая показывает, насколько сильно связаны между собой друзья узла в сети. Он измеряет вероятность того, что друзья узла также будут друзьями друг друга</p>
            <p>Пример: <span class="example">Если пользователь имеет высокий коэффициент кластеризации, это может означать, что его друзья тоже дружат между собой</span></p>
        </div>
    <div class="concept">
            <h2>Page Rank</h2>
            <p>PageRank показывает, насколько "популярной" или "авторитетной" является страница в сети, основываясь на ее связях с другими страницами</p>
            <p>Пример: <span class="example">в социальной сети PageRank может использоваться для определения важности пользователя, если пользователь имеет много связей с другими важными пользователями (например, пользователи с большим количеством подписчиков или друзей), его вес будет выше</span></p>
    </div>

</body>

